header {
    gap: 132px;
    padding-top: 75px;
}

.header-title-text {
    gap: 24px;
}

main {
    padding-top: 74px;
    gap: 46px;
    padding-bottom: 74px;
}

.categories {
    width: 99%;
    overflow-x: scroll;
    gap: 20px;
    margin: 0 auto;
    scrollbar-width: none;
    padding-bottom: 46px;
}

.categories::-webkit-scrollbar {
    visibility: hidden;
}

.all-posts {
    gap: 44px;
    margin-bottom: 44px;
}

.post {
    width: 46%;
    gap: 16px;
}

.post img {
    margin-bottom: 8px;
    object-fit: cover;
    object-position: center;
    max-width: 548px;
    max-height: 172px;
}

.obs {
    background-color: var(--color-grey-5);
    height: 25px;
}

.observed img {
    margin-bottom: 8px;
    object-fit: cover;
    object-position: center;
    max-width: 548px;
    max-height: 172px;
}
.top-div {
    height: 172px;
    margin-bottom: 8px;
}

.middle-lines {
    border-radius: 4px;
}

.bottom-line {
    border-radius: 4px;
    width: 30%;
}

.watched {
    gap: 46px;
}